<%- include("partials/authheader") %>

<h1>Edit Changes</h1>
<!-- LOAD ALL POSTS ON THIS PAGE-->


<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Content</th>
        <th>CreatedAt</th>
    </tr>

    <% for(var i=0; i<posts.length;i++) { %>
    <tr>
        <td><%= posts[i].title %></td>
        <td><%= posts[i].author %></td>
        <td><%- posts[i].content %></td>
        <td><%= posts[i].createdAt %></td>
        <td>
            <a href="/editpostID/<%=posts[i]._id%>" class="btn btn-warning btn-sm">Edit</a>
        </td>

        <td>
            <form class="" action="/postdelete/<%=posts[i]._id%>" method="post">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
        
    </tr>
<% } %>
</table>


<%- include("partials/footer") %>
